%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{deps,
 [
  %% {a_proj, ".*",  %% use a catch all regex and peg with a tag if neded
  %%  {git, "git://github.com/opscode/a_proj.git", {branch, "master"}}},
]}.

{cover_enabled, true}.
